<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/font/css/all.css">
</head>
<body>
<input id="title" type="text" class="form-control" value="{{article_info.title}}">
<div id="content">
    {{article_info.article_detail.content|safe}}
</div>
<div class="d-flex justify-content-center">
    <form id="video_form">
        <label id="add_video" for="video_file" class="btn btn-primary btn-block" style="max-width:25em;margin-top:20px;">添加视频</label>
        <input name="file_type" class="d-none" value="video">
        <input id="video_file" name="video_file" type="file" class= "d-none" accept="video/*">
    </form>
    <button id="edit_article" type="button" class="btn btn-primary btn-lg btn-block"
            style="max-width:25em;margin-top:20px;">提交
    </button>
    <select id="category_id">
        {% for item in category %}
        {% if item.id == article_info.category_id %}
        <option value="{{item.id}}" selected="selected">{{item.name}}</option>
        {% else %}
        <option value="{{item.id}}">{{item.name}}</option>
        {% endif %}
        {% endfor %}
    </select>
</div>
<div>
    <table class="table table-hover table-light">
        <tr>
            <th>赞我的人</th>
            <th>时间</th>
        </tr>
        {% for item in like_user %}
        <tr>
            <td>{{item.user.username}}</td>
            <td>{{item.create_time}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div>
    {% for item in comment_tree %}

    <table class="table table-hover table-light">

        <thead class="thead-dark">
            <th>ID</th>
            <th>评论的人</th>
            <th>评论内容</th>
            <th>评论时间</th>
            <th>操作&nbsp;&nbsp;&nbsp;
                <i data-toggle="modal" data-target="#reply_modal" class="fas fa-plus btn"></i></th>
        </thead>
            {% for comment in item %}
                {% if comment.reply %}
                    <tr id="{{comment.id}}">
                        <td class="commentId">{{comment.id}}</td>
                        <td>{{comment.user.username}}</td>
                        <td>{{comment.content}}</td>
                        <td>{{comment.create_time}}</td>
                        <td>
                            <i class="fas fa-eraser btn btn-del" data-toggle="modal" data-target="#delModal"></i>&nbsp;
                            <i data-toggle="modal" data-target="#reply_modal" class="fas fa-comment-dots "></i>
                        </td>
                    </tr>
                {% else %}
                    <thead  class="thead-dark">
                    <tr id="{{comment.id}}">
                    <td class="commentId">{{comment.id}}</td>
                    <td>{{comment.user.username}}</td>
                    <td>{{comment.content}}</td>
                    <td>{{comment.create_time}}</td>
                    <td>
                        <i class="fas fa-eraser btn btn-del" data-toggle="modal" data-target="#delModal"></i>&nbsp;
                        <i data-toggle="modal" data-target="#reply_modal" class="fas fa-comment-dots "></i>
                    </td>
                    </tr>
                    </thead>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
</div>
<div class="modal fade" id="reply_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index:99999">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">回复：</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="reply_form">
          <div class="form-group">
            <input id="path" type="text" class="d-none" value="edit" name="path">
            <input id="reply_id" type="text" class="d-none" name="reply_id">
            <input id="article_id" type="text" class="d-none" name="article_id" value="{{article_info.id}}">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text" name="content"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button id="reply_sub" type="button" class="btn btn-primary">回复</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true" style="z-index:99999">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                确认删除？
                <input type="text" id="del_id" class="d-none">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary delSub" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>
<p><a class="btn btn-dark float-right" style="position:relative; right:20px;" href="/backend/">返回</a></p>
</body>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/wangEditor.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<SCRIPT SRC="/static/js/jquery.cookie.js"></SCRIPT>
<script>
        $(function(){

            //初始化编辑器
            var E = window.wangEditor;
            var editor = new E('#content');

            editor.customConfig.uploadImgHeaders = {
                "X-CSRFToken":$.cookie("csrftoken")
            }
            editor.customConfig.uploadImgServer = '/backend/media/'
            editor.customConfig.debug = location.href.indexOf('wangeditor_debug_mode=1') > 0
            editor.customConfig.uploadImgHooks = {
                customInsert: function (insertImg, result, editor) {
                        var url =result.data;
                        insertImg(url);
                    }
            }
            editor.create();
            edit_article(editor);
            deleteInfo();
            reply();
            add_video(editor);
        })
        function reply(){
           $('.fa-comment-dots').click(function(){
                $('#reply_id').val('_'+$(this).parents('tr').attr('id'));
           })
           $('#reply_sub').click(function(){
                if($('#message-text').val()){
                    $.ajax({
                        url:'/receive_comment/',
                        headers: {"X-CSRFToken":$.cookie("csrftoken")},
                        type:'POST',
                        data:$('#reply_form').serialize(),
                        success:function(data){
                            location.reload();
                        }
                    })
                }
           })
       }

       function add_video(editor){
        $('#video_file').change(function(){
            ths=$(this);

            var formdata=new FormData(document.getElementById('video_form'));
            $.ajax({
                headers:{ "X-CSRFtoken":$.cookie("csrftoken")},
                url:'/backend/media/',
                type:'POST',
                processData:false,
                data: formdata,
                dataType:'json',
                contentType:false,
                success:function(data){
                    if(data.errno==0){
                        console.log(data);
                        var text=editor.txt.html();
                        for(i=0;i<data.data.length;i++){
                            text+='<video src="' + data.data[i] + '" width="320" height="240" controls="controls"> </video><p></p>'
                        }
                        editor.txt.html(text);
                        ths.val('');
                    }
                    else{
                        alert("上传失败");
                    }
                }
            })
        })
    }

    function deleteInfo(){
        $('.btn-del').click(function(){
            $('#del_id').val($(this).parent().prevAll('.commentId').text());
        })
        $('.delSub').click(function(){
            $.ajax({
                    url:'/backend/delArticle/',
                    type:'POST',
                    headers: {"X-CSRFToken":$.cookie("csrftoken")},
                    data:{'id':$('#del_id').val()+'/','type':document.URL},
                    dataType:'json',
                    success:function(arg){
                        if(arg.status){
                            location.reload();
                        }
                        else{
                            alert(arg.msg);
                        }
                    }
            })
        })
    }
        function edit_article(editor){
        document.getElementById('edit_article').addEventListener('click', function () {
            $.ajax({
                headers:{ "X-CSRFtoken":$.cookie("csrftoken")},
                url:'/backend/edit_article/',
                type:'POST',
                data:{'title':$('#title').val(), 'content':editor.txt.html(),'brief':editor.txt.text().split("&nbsp;").join("").slice(0,252), 'category_id':$('#category_id').val(),'id':{{article_info.id|safe }}},
                dataType:'json',
                success:function(arg){
                    if(arg.status){
                        location.href='/backend/';
                    }
                    else{
                        alert(arg.msg);
                    }
                }
            })
        }, false)
        }
</script>